<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1>Blog</h1>
    
    {% if blogs %}
        <ul>
            {% for blog in blogs %}
                <li>
                    <h2>{{ blog.title }}</h2>
                    <p>Content: {{ blog.content }}</p>
                    <p>Author: {{ blog.author }}</p>
                    {% if blog.imageUrl %}
                        <img src="{{ blog.imageUrl.url }}" alt="Image">
                    {% endif %}
                    <p>Category: {{ Blog.category }}</p>
                    <p>Created At: {{ blog.createdAt }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No blogs available.</p>
    {% endif %}
</body>
</html>
